In [8]:
import pandas as pd
import numpy as np
from datetime import datetime
regularseason = pd.read_csv('MDataFiles_Stage1/MRegularSeasonDetailedResults.csv')
postseason = pd.read_csv('MDataFiles_Stage1/MNCAATourneyDetailedResults.csv')
rankings = pd.read_csv('MDataFiles_Stage1/MMasseyOrdinals.csv')
import time

In [9]:
postseason

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,2019,146,1120,77,1246,71,N,1,26,65,...,21,12,21,11,30,14,14,5,5,19
1111,2019,146,1277,68,1181,67,N,0,30,70,...,21,8,13,13,29,14,17,4,9,9
1112,2019,152,1403,61,1277,51,N,0,22,51,...,24,14,18,8,28,6,11,1,2,15
1113,2019,152,1438,63,1120,62,N,0,25,51,...,31,11,14,9,24,9,5,3,3,12
1114,2019,154,1438,85,1403,77,N,1,27,59,...,30,13,15,9,23,9,8,6,3,18

In [10]:
df_2018 = regularseason[(regularseason.Season == 2018) & (regularseason.DayNum >=12)]
df_2018

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
76749,2018,12,1103,67,1156,57,H,0,20,66,...,19,10,26,4,37,7,16,5,4,20
76750,2018,12,1133,68,1237,53,H,0,25,56,...,20,17,20,13,22,8,12,6,1,17
76751,2018,12,1138,80,1145,75,H,0,30,73,...,21,17,19,7,25,13,19,4,6,20
76752,2018,12,1140,91,1290,61,H,0,33,56,...,17,7,10,9,19,11,6,3,0,19
76753,2018,12,1181,99,1430,69,H,0,39,73,...,25,13,16,16,23,13,19,5,0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82036,2018,132,1153,56,1222,55,N,0,20,46,...,23,10,12,9,20,12,12,8,2,19
82037,2018,132,1172,58,1348,57,N,0,19,50,...,23,9,17,11,26,12,14,3,4,16
82038,2018,132,1209,74,1426,61,N,0,25,56,...,25,23,28,19,24,9,13,1,5,16
82039,2018,132,1246,77,1397,72,N,0,25,50,...,27,16,20,18,16,14,10,4,3,21
82040,2018,132,1335,68,1217,65,N,0,24,52,...,18,12,12,5,29,6,8,2,2,17

In [11]:
regularseason

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92827,2020,128,1389,56,1233,54,N,0,15,60,...,16,18,20,4,27,6,17,8,4,20
92828,2020,128,1393,81,1314,53,N,0,28,61,...,16,11,13,13,29,9,18,0,1,18
92829,2020,128,1402,85,1111,68,H,0,34,57,...,15,25,35,8,17,6,18,7,2,18
92830,2020,128,1412,74,1427,69,N,0,26,53,...,27,7,7,12,22,11,13,4,2,18
92831,2020,128,1450,82,1160,68,N,0,27,55,...,21,22,32,10,24,4,11,4,4,19

In [12]:
def add_rate_cols(df):
    
    df['possessions'] = .5 * (df['FGA'] + (.475 * df['FTA']) - df['OR'] + df['TO'])
    df['eFG'] = (df['FGM'] + (.5 * df['FGM3'])) / df['FGA']
    df['TSpct'] = df['Score'] / (2 * (df['FGA'] + .475 * df['FTA']))
    df['FTR'] = df['FTA'] / df['FGA']
    df['3PR'] = df['FGA3'] / (df['FGA'] + (.475*df['FTA']))
    df['ORpct'] = df['OR'] / (df['OR'] + df['Opp_DR'])
    df['DRpct'] = df['DR'] / (df['DR'] + df['Opp_OR'])
    df['REBpct'] = (df['OR'] + df['DR']) / (df['OR'] + df['Opp_DR'] + df['Opp_OR'] + df['DR'])
    df['TR'] = (df['OR'] + df['DR'])
    df['ATOr'] = df['Ast'] / df['TO']
    df['Ast_pct'] = df['Ast'] / df['FGM']
    df['Stl_pct'] = df['Stl'] / (df['Opp_FGA'] + .475*df['Opp_FTA'] + df['Opp_TO'])
    df['Blk_pct'] = df['Blk'] / (df['Opp_FGA'])
    df['TO_ratio'] = df['TO'] / (df['FGA'] + .475*df['FTA'] + df['TO'])
    df['Opp_eFG'] = (df['Opp_FGM'] + (.5 * df['Opp_FGM3'])) / df['Opp_FGA']
    df['Opp_TSpct'] = df['Opp_Score'] / (2 * (df['Opp_FGA'] + .475 * df['Opp_FTA']))
    df['Opp_FTR'] = df['Opp_FTA'] / df['Opp_FGA']
    df['Opp_3PR'] = df['Opp_FGA3'] / (df['Opp_FGA'] + (.475*df['Opp_FTA']))
    df['Opp_TR'] = (df['Opp_OR'] + df['Opp_DR'])
    df['Opp_ATOr'] = df['Opp_Ast'] / df['Opp_TO']
    df['Opp_Ast_pct'] = df['Opp_Ast'] / df['Opp_FGM']
    df['Opp_Stl_pct'] = df['Opp_Stl'] / (df['FGA'] + .475*df['FTA'] + df['TO'])
    df['Opp_Blk_pct'] = df['Opp_Blk'] / (df['FGA'])
    df['Opp_TO_ratio'] = df['Opp_TO'] / (df['Opp_FGA'] + .475*df['Opp_FTA'] + df['Opp_TO'])

    return df

In [13]:
def team_regular_season(team_id,Season = all, DayNum = all, average = True):
    
    teamwins = regularseason[(regularseason['WTeamID'] == team_id) & (regularseason['Season'] == Season) & (regularseason['DayNum'] < DayNum)] 
    teamlosses = regularseason[(regularseason['LTeamID'] == team_id) & (regularseason['Season'] == Season) & (regularseason['DayNum'] < DayNum)]
    
    teamwinsoffense = teamwins.filter(like = 'W')    
    teamlossesoffense = teamlosses.filter(like = 'L')

    teamwinsoffense.columns = teamwinsoffense.columns.str.lstrip('W')
    teamlossesoffense.columns = teamlossesoffense.columns.str.lstrip('L')

    teamoffense = pd.concat([teamwinsoffense, teamlossesoffense])

    teamwinsopponents = teamwins.filter(like = 'L')
    teamlossesopponents = teamlosses.filter(like = 'W')

    teamwinsopponents.columns = teamwinsopponents.columns.str.lstrip('L')
    teamlossesopponents.columns = teamlossesopponents.columns.str.lstrip('W')

    teamopponents = pd.concat([teamwinsopponents, teamlossesopponents])
    
    teamtotal = pd.concat([teamoffense, teamopponents.add_prefix('Opp_')], axis = 1)
    
    ###cols_to_drop = ['Opp_TeamID', ]
    
    if average == True:
        teamtotal = teamtotal.groupby('TeamID').mean().reset_index()
        teamtotal = add_rate_cols(teamtotal)
    
    if average == False:
        teamtotal = add_rate_cols(teamtotal)
        
    return teamtotal

In [14]:
start = time.time()
marquette = team_regular_season(1266, 2020, 132, True)
end = time.time()
print('Execution time = %.6f seconds' % (end-start))

Execution time = 0.045906 seconds

In [15]:
kenpom = rankings[(rankings.SystemName == 'POM')]

In [16]:
kenpom

         Season  RankingDayNum SystemName  TeamID  OrdinalRank
2968       2003             37        POM    1102          104
2969       2003             37        POM    1103          191
2970       2003             37        POM    1104           15
2971       2003             37        POM    1105          319
2972       2003             37        POM    1106          170
...         ...            ...        ...     ...          ...
4113090    2020            128        POM    1463           57
4113091    2020            128        POM    1464          232
4113092    2020            128        POM    1465          202
4113093    2020            128        POM    1466          281
4113094    2020            128        POM    1467          226

[108220 rows x 5 columns]

In [17]:
def single_game(team1_id, team2_id, year = 2020, daynum = 132):
    team1 = team_regular_season(team1_id,year,daynum)
    team2 = team_regular_season(team2_id,year,daynum)
    game = pd.concat([team1.add_prefix('1'), team2.add_prefix('2')], axis = 1)
    game = game.merge(kenpom[kenpom.Season == year], how='inner', left_on='1TeamID', right_on='TeamID')
    game = game.merge(kenpom[kenpom.Season == year], how='inner', left_on='2TeamID', right_on='TeamID')
    game['FavWin'] = game['OrdinalRank_x'] < game['OrdinalRank_y']
    game.drop(['Season_x',
       'RankingDayNum_x', 'SystemName_x', 'TeamID_x', 'OrdinalRank_x',
       'Season_y', 'RankingDayNum_y', 'SystemName_y', 'TeamID_y',
       'OrdinalRank_y',], axis=1, inplace=True)
    return game

In [18]:
st = time.time()
duke_unc = single_game(1181, 1314)
duke_unc
ed = time.time()
print('Execution time = %.6f seconds' % (ed - st))

Execution time = 0.121763 seconds

In [19]:
schedule = list(zip(df_2020.WTeamID,df_2020.LTeamID,df_2020.DayNum,df_2020.Season))

NameError: name 'df_2020' is not defined

In [ ]:
schedule

In [48]:
start_time = time.time()
appended_data = []
for i in range(len(schedule)):
    data = single_game(schedule[i][0], schedule[i][1], daynum = schedule[i][2])
    appended_data.append(data)

games18 = pd.concat(appended_data, axis=0)

end_time = time.time()
print('Execution time = %.6f seconds' % (end_time-start_time))

KeyboardInterrupt:

In [33]:
games2020

,1TeamID,1Score,1FGM,1FGA,1FGM3,1FGA3,1FTM,1FTA,1OR,1DR,...,2Opp_ORpct,2Opp_DRpct,2Opp_REBpct,2Opp_TR,2Opp_ATOr,2Opp_Ast_pct,2Opp_Stl_pct,2Opp_Blk_pct,2Opp_TO_ratio,FavWin
0,1111.0,65.000000,22.333333,54.333333,5.000000,17.333333,15.333333,22.000000,8.333333,28.000000,...,0.353982,0.747748,0.549107,41.000000,1.047619,0.523810,0.110328,0.075581,0.163679,True
0,1125.0,79.950000,30.300000,64.400000,10.150000,28.300000,9.200000,13.200000,9.350000,30.000000,...,0.279743,0.725434,0.514460,35.578947,1.160156,0.563567,0.096970,0.057325,0.171114,True
0,1125.0,80.321429,30.035714,63.071429,9.857143,27.714286,10.392857,14.678571,8.821429,28.107143,...,0.282828,0.718026,0.512208,35.740741,1.178378,0.595628,0.089398,0.056365,0.173817,True
0,1286.0,66.333333,22.666667,50.000000,6.666667,16.333333,14.333333,21.666667,6.000000,30.000000,...,0.352941,0.744681,0.552347,38.250000,0.947368,0.500000,0.117956,0.082192,0.175587,True
0,1287.0,66.833333,25.083333,59.000000,5.750000,20.916667,10.916667,18.083333,10.250000,26.416667,...,0.289062,0.731707,0.528144,36.750000,1.069767,0.562691,0.098657,0.054598,0.183125,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1285.0,69.850000,26.550000,58.500000,5.950000,16.650000,10.800000,15.200000,7.300000,24.850000,...,0.283708,0.734332,0.512448,39.000000,1.075188,0.557505,0.089846,0.056067,0.163268,False
0,1225.0,62.904762,23.380952,54.238095,4.571429,14.142857,11.571429,17.476190,7.571429,25.904762,...,0.277778,0.737828,0.509102,38.619048,1.071672,0.563734,0.088853,0.055046,0.163047,False
0,1226.0,64.500000,22.000000,51.875000,7.375000,22.625000,13.125000,20.750000,10.250000,21.000000,...,0.296588,0.717884,0.511568,39.800000,1.020408,0.543478,0.090858,0.056061,0.165461,False
0,1276.0,82.500000,31.333333,59.500000,10.000000,24.500000,9.833333,14.166667,7.333333,29.000000,...,0.221865,0.651852,0.421687,30.625000,0.686441,0.440217,0.074638,0.039337,0.182967,False
0,1140.0,79.571429,29.642857,59.785714,10.535714,25.142857,9.750000,13.928571,6.607143,26.392857,...,0.233583,0.671958,0.439582,31.571429,0.797468,0.438719,0.073804,0.049076,0.171417,False

In [37]:
postseason18 = postseason[postseason.Season == 2018]
postseason18

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
981,2018,134,1347,71,1254,61,N,0,28,59,...,26,16,23,6,26,13,15,3,0,19
982,2018,134,1382,65,1417,58,N,0,23,60,...,30,6,10,7,34,13,20,1,6,18
983,2018,135,1393,60,1113,56,N,0,20,49,...,32,3,10,8,26,19,11,5,3,19
984,2018,135,1411,64,1300,46,N,0,21,57,...,14,4,6,20,23,10,15,5,2,18
985,2018,136,1104,86,1439,83,N,0,30,50,...,18,14,20,10,12,14,14,7,1,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043,2018,146,1242,85,1181,81,N,1,30,69,...,29,14,18,10,22,13,11,9,3,16
1044,2018,146,1437,71,1403,59,N,0,19,57,...,20,14,18,11,22,7,9,4,1,23
1045,2018,152,1276,69,1260,57,N,0,25,59,...,10,12,14,6,26,6,17,5,1,17
1046,2018,152,1437,95,1242,79,N,0,36,65,...,21,16,20,10,23,8,9,5,1,12
1047,2018,154,1437,79,1276,62,N,0,27,57,...,23,11,18,6,21,6,10,6,1,20

In [39]:
postseason_sch = list(zip(postseason18.WTeamID, postseason18.LTeamID, postseason18.DayNum, postseason18.Season))
postseason_sch

[(1347, 1254, 134, 2018),
 (1382, 1417, 134, 2018),
 (1393, 1113, 135, 2018),
 (1411, 1300, 135, 2018),
 (1104, 1439, 136, 2018),
 (1138, 1112, 136, 2018),
 (1181, 1233, 136, 2018),
 (1196, 1382, 136, 2018),
 (1211, 1422, 136, 2018),
 (1222, 1361, 136, 2018),
 (1242, 1335, 136, 2018),
 (1246, 1172, 136, 2018),
 (1260, 1274, 136, 2018),
 (1276, 1285, 136, 2018),
 (1326, 1355, 136, 2018),
 (1348, 1328, 136, 2018),
 (1371, 1301, 136, 2018),
 (1397, 1460, 136, 2018),
 (1403, 1372, 136, 2018),
 (1437, 1347, 136, 2018),
 (1120, 1158, 137, 2018),
 (1139, 1116, 137, 2018),
 (1153, 1209, 137, 2018),
 (1155, 1308, 137, 2018),
 (1199, 1281, 137, 2018),
 (1243, 1166, 137, 2018),
 (1267, 1455, 137, 2018),
 (1277, 1137, 137, 2018),
 (1305, 1400, 137, 2018),
 (1314, 1252, 137, 2018),
 (1345, 1168, 137, 2018),
 (1393, 1395, 137, 2018),
 (1401, 1344, 137, 2018),
 (1420, 1438, 137, 2018),
 (1452, 1293, 137, 2018),
 (1462, 1411, 137, 2018),
 (1181, 1348, 138, 2018),
 (1211, 1326, 138, 2018),
 (1242, 1371, 138, 2018),
 (1246, 1138, 138, 2018),
 (1260, 1397, 138, 2018),
 (1276, 1222, 138, 2018),
 (1403, 1196, 138, 2018),
 (1437, 1104, 138, 2018),
 (1155, 1120, 139, 2018),
 (1199, 1462, 139, 2018),
 (1243, 1420, 139, 2018),
 (1305, 1153, 139, 2018),
 (1345, 1139, 139, 2018),
 (1393, 1277, 139, 2018),
 (1401, 1314, 139, 2018),
 (1452, 1267, 139, 2018),
 (1199, 1211, 143, 2018),
 (1243, 1246, 143, 2018),
 (1260, 1305, 143, 2018),
 (1276, 1401, 143, 2018),
 (1181, 1393, 144, 2018),
 (1242, 1155, 144, 2018),
 (1403, 1345, 144, 2018),
 (1437, 1452, 144, 2018),
 (1260, 1243, 145, 2018),
 (1276, 1199, 145, 2018),
 (1242, 1181, 146, 2018),
 (1437, 1403, 146, 2018),
 (1276, 1260, 152, 2018),
 (1437, 1242, 152, 2018),
 (1437, 1276, 154, 2018)]

In [41]:
start_time = time.time()
appended_data = []
for i in range(len(postseason_sch)):
    data = single_game(postseason_sch[i][0], postseason_sch[i][1], daynum = postseason_sch[i][2])
    appended_data.append(data)

bracket18 = pd.concat(appended_data, axis=0)

end_time = time.time()
print('Execution time = %.6f seconds' % (end_time-start_time))

Execution time = 5.077783 seconds

In [44]:
bracket18.FavWin.value_counts(normalize=True)

True     0.641791
False    0.358209
Name: FavWin, dtype: float64

In [49]:
bracket18.to_csv('./data/bracket18.csv')