In [81]:
import pandas as pd
import numpy as np
from datetime import datetime
regularseason = pd.read_csv('MDataFiles_Stage1/MRegularSeasonDetailedResults.csv')
postseason = pd.read_csv('MDataFiles_Stage1/MNCAATourneyDetailedResults.csv')
rankings = pd.read_csv('MDataFiles_Stage1/MMasseyOrdinals.csv')

In [82]:
postseason

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1110,2019,146,1120,77,1246,71,N,1,26,65,...,21,12,21,11,30,14,14,5,5,19
1111,2019,146,1277,68,1181,67,N,0,30,70,...,21,8,13,13,29,14,17,4,9,9
1112,2019,152,1403,61,1277,51,N,0,22,51,...,24,14,18,8,28,6,11,1,2,15
1113,2019,152,1438,63,1120,62,N,0,25,51,...,31,11,14,9,24,9,5,3,3,12
1114,2019,154,1438,85,1403,77,N,1,27,59,...,30,13,15,9,23,9,8,6,3,18

In [83]:
kenpom = rankings[(rankings.SystemName == 'POM') & (rankings.Season == 2020) & (rankings.RankingDayNum >= 128)]
kenpom

         Season  RankingDayNum SystemName  TeamID  OrdinalRank
4112742    2020            128        POM    1101          187
4112743    2020            128        POM    1102          198
4112744    2020            128        POM    1103           83
4112745    2020            128        POM    1104           60
4112746    2020            128        POM    1105          343
...         ...            ...        ...     ...          ...
4113090    2020            128        POM    1463           57
4113091    2020            128        POM    1464          232
4113092    2020            128        POM    1465          202
4113093    2020            128        POM    1466          281
4113094    2020            128        POM    1467          226

[353 rows x 5 columns]

In [84]:
df_2020 = regularseason[(regularseason.Season == 2020) & (regularseason.DayNum >=12)]
df_2020

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
87965,2020,12,1111,69,1399,47,N,0,24,44,...,24,1,2,8,15,11,21,6,1,15
87966,2020,12,1116,64,1285,46,H,0,20,54,...,16,8,14,15,24,10,23,5,5,22
87967,2020,12,1125,100,1130,85,A,0,33,62,...,18,11,13,3,19,18,12,7,1,15
87968,2020,12,1127,76,1357,72,H,0,29,77,...,30,9,17,16,37,10,14,2,2,14
87969,2020,12,1131,84,1306,70,H,0,31,57,...,22,12,16,6,24,17,16,2,1,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92827,2020,128,1389,56,1233,54,N,0,15,60,...,16,18,20,4,27,6,17,8,4,20
92828,2020,128,1393,81,1314,53,N,0,28,61,...,16,11,13,13,29,9,18,0,1,18
92829,2020,128,1402,85,1111,68,H,0,34,57,...,15,25,35,8,17,6,18,7,2,18
92830,2020,128,1412,74,1427,69,N,0,26,53,...,27,7,7,12,22,11,13,4,2,18
92831,2020,128,1450,82,1160,68,N,0,27,55,...,21,22,32,10,24,4,11,4,4,19

In [85]:
df_2020 = df_2020.merge(kenpom[kenpom.Season == 2020], how='inner', left_on='WTeamID', right_on='TeamID')
df_2020 = df_2020.merge(kenpom[kenpom.Season == 2020], how='inner', left_on='LTeamID', right_on='TeamID')

In [86]:
df_2020

,Season_x,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,Season_y,RankingDayNum_x,SystemName_x,TeamID_x,OrdinalRank_x,Season,RankingDayNum_y,SystemName_y,TeamID_y,OrdinalRank_y
0,2020,12,1111,69,1399,47,N,0,24,44,...,2020,128,POM,1111,174,2020,128,POM,1399,331
1,2020,87,1125,92,1399,84,A,0,30,63,...,2020,128,POM,1125,108,2020,128,POM,1399,331
2,2020,115,1125,65,1399,62,H,0,25,55,...,2020,128,POM,1125,108,2020,128,POM,1399,331
3,2020,13,1286,52,1399,39,N,0,19,47,...,2020,128,POM,1286,222,2020,128,POM,1399,331
4,2020,61,1287,83,1399,72,H,0,27,61,...,2020,128,POM,1287,316,2020,128,POM,1399,331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4861,2020,94,1285,92,1186,82,H,0,31,60,...,2020,128,POM,1285,136,2020,128,POM,1186,125
4862,2020,101,1225,74,1186,71,A,0,29,58,...,2020,128,POM,1225,324,2020,128,POM,1186,125
4863,2020,56,1226,75,1186,69,H,0,27,46,...,2020,128,POM,1226,296,2020,128,POM,1186,125
4864,2020,25,1276,82,1211,64,N,0,34,63,...,2020,128,POM,1276,16,2020,128,POM,1211,2
4865,2020,110,1140,91,1211,78,H,0,33,62,...,2020,128,POM,1140,12,2020,128,POM,1211,2

In [87]:
df_2020['FavWin'] = df_2020['OrdinalRank_x'] < df_2020['OrdinalRank_y']
df_2020.FavWin.value_counts()

True     3555
False    1311
Name: FavWin, dtype: int64

In [88]:
regularseason

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92827,2020,128,1389,56,1233,54,N,0,15,60,...,16,18,20,4,27,6,17,8,4,20
92828,2020,128,1393,81,1314,53,N,0,28,61,...,16,11,13,13,29,9,18,0,1,18
92829,2020,128,1402,85,1111,68,H,0,34,57,...,15,25,35,8,17,6,18,7,2,18
92830,2020,128,1412,74,1427,69,N,0,26,53,...,27,7,7,12,22,11,13,4,2,18
92831,2020,128,1450,82,1160,68,N,0,27,55,...,21,22,32,10,24,4,11,4,4,19

In [91]:
def team_regular_season(team_id,Season = all, DayNum = all, average = True):
    
    teamwins = regularseason[(regularseason['WTeamID'] == team_id) & (regularseason['Season'] == Season) & (regularseason['DayNum'] < DayNum)] 
    teamlosses = regularseason[(regularseason['LTeamID'] == team_id) & (regularseason['Season'] == Season) & (regularseason['DayNum'] < DayNum)]
    
    teamwinsoffense = teamwins.filter(like = 'W')    
    teamlossesoffense = teamlosses.filter(like = 'L')

    teamwinsoffense.columns = teamwinsoffense.columns.str.lstrip('W')
    teamlossesoffense.columns = teamlossesoffense.columns.str.lstrip('L')

    teamoffense = pd.concat([teamwinsoffense, teamlossesoffense])

    teamwinsopponents = teamwins.filter(like = 'L')
    teamlossesopponents = teamlosses.filter(like = 'W')

    teamwinsopponents.columns = teamwinsopponents.columns.str.lstrip('L')
    teamlossesopponents.columns = teamlossesopponents.columns.str.lstrip('W')

    teamopponents = pd.concat([teamwinsopponents, teamlossesopponents])
    
    teamtotal = pd.concat([teamoffense, teamopponents.add_prefix('Opp_')], axis = 1)
    
    ###cols_to_drop = ['Def_TeamID', 'Def_Score',]
    
    if average == True:
        teamtotal = teamtotal.groupby('TeamID').mean().reset_index()
        
    return teamtotal

In [109]:
def regular_season_game(team1_id, team2_id, year = 2020, daynum = 132):
    team1 = team_regular_season(team1_id,year,daynum)
    team2 = team_regular_season(team2_id,year,daynum)
    game = pd.concat([team1.add_prefix('1'), team2.add_prefix('2')], axis = 1)
    game = game.merge(kenpom[kenpom.Season == year], how='inner', left_on='1TeamID', right_on='TeamID')
    game = game.merge(kenpom[kenpom.Season == year], how='inner', left_on='2TeamID', right_on='TeamID')
    game['FavWin'] = game['OrdinalRank_x'] < game['OrdinalRank_y']
    game.drop(['Season_x',
       'RankingDayNum_x', 'SystemName_x', 'TeamID_x', 'OrdinalRank_x',
       'Season_y', 'RankingDayNum_y', 'SystemName_y', 'TeamID_y',
       'OrdinalRank_y',], axis=1, inplace=True)
    return game

duke_unc = regular_season_game(1181, 1314)
duke_unc

,1TeamID,1Score,1FGM,1FGA,1FGM3,1FGA3,1FTM,1FTA,1OR,1DR,...,2Opp_FTM,2Opp_FTA,2Opp_OR,2Opp_DR,2Opp_Ast,2Opp_TO,2Opp_Stl,2Opp_Blk,2Opp_PF,FavWin
0,1181,82.516129,29.677419,63.129032,7.0,19.903226,16.16129,22.451613,12.709677,27.419355,...,13.333333,17.666667,8.969697,25.333333,13.787879,11.454545,6.939394,4.181818,18.69697,True

In [111]:
schedule = list(zip(df_2020.WTeamID,df_2020.LTeamID,df_2020.DayNum,df_2020.Season))

In [113]:
len(schedule)

4866

In [115]:
games2020 = pd.DataFrame()
for i in range(len(schedule)):
    games2020 = games2020.append(regular_season_game(schedule[i][0], schedule[i][1], daynum = schedule[i][2]))

In [118]:
games2020.FavWin.value_counts(normalize=True)

True     0.718917
False    0.281083
Name: FavWin, dtype: float64