In [259]:
from datetime import datetime
import pandas as pd
from sportsipy.ncaab.boxscore import Boxscore
from sportsipy.ncaab.boxscore import Boxscores

In [260]:
winner_cols = ['index', 'date', 'winning_name', 'losing_name', 'winner',
    'location', 'home_field_goals','home_field_goal_attempts','home_three_point_field_goals', 
    'home_three_point_field_goal_attempts', 'home_free_throws', 'home_free_throw_attempts', 
    'home_offensive_rebounds', 'home_defensive_rebounds', 'home_assists', 
    'home_turnovers', 'home_steals', 'home_blocks', 'home_personal_fouls','away_field_goals',
    'away_field_goal_attempts', 'away_three_point_field_goals', 'away_three_point_field_goal_attempts', 
    'away_free_throws', 'away_free_throw_attempts', 'away_offensive_rebounds', 'away_defensive_rebounds', 
    'away_assists', 'away_turnovers', 'away_steals', 'away_blocks', 'away_personal_fouls']

away = ['index', 'date', 'winning_name', 'losing_name', 'away_points', 'home_points', 'winner', 
    'location', 'away_field_goals','away_field_goal_attempts', 'away_three_point_field_goals', 
    'away_three_point_field_goal_attempts', 'away_free_throws', 'away_free_throw_attempts',
    'away_offensive_rebounds', 'away_defensive_rebounds', 'away_assists','away_field_goal_attempts', 
    'away_turnovers', 'away_steals', 'away_blocks', 'away_personal_fouls','home_field_goals',
    'home_field_goal_attempts', 'home_three_point_field_goals', 'home_three_point_field_goal_attempts', 
    'home_free_throws', 'home_free_throw_attempts', 'home_offensive_rebounds', 'home_defensive_rebounds', 
    'home_assists', 'home_turnovers', 'home_steals', 'home_blocks', 'home_personal_fouls']

In [261]:
"""def get_current_games(start_date, end_date):
    
    games = Boxscores(start_date, end_date)
    schedule = games.games

    game_days = []
    for day in schedule.values():
        for game in day:
            game_days.append(game['boxscore'])
            
    season_games = []

    for i in game_days:
        temp = Boxscore(i).dataframe
        season_games.append(temp)

    df = pd.concat(season_games, axis = 0).reset_index()
    
    return df"""

"def get_current_games(start_date, end_date):\n    \n    games = Boxscores(start_date, end_date)\n    schedule = games.games\n\n    game_days = []\n    for day in schedule.values():\n        for game in day:\n            game_days.append(game['boxscore'])\n            \n    season_games = []\n\n    for i in game_days:\n        temp = Boxscore(i).dataframe\n        season_games.append(temp)\n\n    df = pd.concat(season_games, axis = 0).reset_index()\n    \n    return df"

In [262]:
df = pd.read_csv('data/regularseason21ROUGH.csv')

In [263]:
df.drop(['Unnamed: 0', 'level_0'], axis = 1, inplace = True)

work_df = df[['index', 'date', 'winning_name', 'losing_name', 'away_points', 'home_points', 'winner', 
    'location', 'away_field_goals','away_field_goal_attempts', 'away_three_point_field_goals', 
    'away_three_point_field_goal_attempts', 'away_free_throws', 'away_free_throw_attempts',
    'away_offensive_rebounds', 'away_defensive_rebounds', 'away_assists', 
    'away_turnovers', 'away_steals', 'away_blocks', 'away_personal_fouls','home_field_goals',
    'home_field_goal_attempts', 'home_three_point_field_goals', 'home_three_point_field_goal_attempts', 
    'home_free_throws', 'home_free_throw_attempts', 'home_offensive_rebounds', 'home_defensive_rebounds', 
    'home_assists', 'home_turnovers', 'home_steals', 'home_blocks', 'home_personal_fouls']]

In [264]:
home_df = work_df.filter(like = 'home')
away_df = work_df.filter(like = 'away')
info_df = work_df[['index','date','winning_name', 'losing_name', 'winner', 'location']]

In [265]:
winner_cols = ['index', 'date', 'winning_name', 'losing_name', 'winner', 'location',
       'home_points', 'home_field_goals', 'home_field_goal_attempts',
       'home_three_point_field_goals', 'home_three_point_field_goal_attempts',
       'home_free_throws', 'home_free_throw_attempts',
       'home_offensive_rebounds', 'home_defensive_rebounds', 'home_assists',
       'home_turnovers', 'home_steals', 'home_blocks', 'home_personal_fouls',
       'away_points', 'away_field_goals', 'away_field_goal_attempts',
       'away_three_point_field_goals', 'away_three_point_field_goal_attempts',
       'away_free_throws', 'away_free_throw_attempts',
       'away_offensive_rebounds', 'away_defensive_rebounds', 'away_assists',
       'away_turnovers', 'away_steals', 'away_blocks', 'away_personal_fouls']

away = ['index', 'date', 'winning_name', 'losing_name', 'winner', 'location',
       'away_points', 'away_field_goals', 'away_field_goal_attempts',
       'away_three_point_field_goals', 'away_three_point_field_goal_attempts',
       'away_free_throws', 'away_free_throw_attempts',
       'away_offensive_rebounds', 'away_defensive_rebounds', 'away_assists',
       'away_turnovers', 'away_steals', 'away_blocks', 'away_personal_fouls',
       'home_points', 'home_field_goals', 'home_field_goal_attempts',
       'home_three_point_field_goals', 'home_three_point_field_goal_attempts',
       'home_free_throws', 'home_free_throw_attempts',
       'home_offensive_rebounds', 'home_defensive_rebounds', 'home_assists',
       'home_turnovers', 'home_steals', 'home_blocks', 'home_personal_fouls']

new_cols = dict(zip(winner_cols, away))
new_cols_home = dict(zip(home, winner_cols))

In [266]:
games = []

for i in range(len(work_df)):
    if work_df.winner[i] == 'Home':
        y = pd.concat([info_df.loc[[i]],home_df.loc[[i]],away_df.loc[[i]]],axis = 1)
        games.append(y)
    if work_df.winner[i] == 'Away':
        x = pd.concat([info_df.loc[[i]],away_df.loc[[i]],home_df.loc[[i]]],axis = 1)
        temp2 = x.rename(columns = new_cols)
        games.append(temp2)

In [267]:
#regularseason21 = pd.concat(games, axis = 0, ignore_index = True)
#regularseason21.to_csv('data/regularseason21.csv')

In [268]:
regularseason21 = pd.read_csv('data/regularseason21.csv')

In [269]:
regularseason = pd.read_csv('MDataFiles_Stage1/MRegularSeasonDetailedResults.csv')
regularseason.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

In [270]:
regularseason21.columns

Index(['Unnamed: 0', 'index', 'date', 'winning_name', 'losing_name', 'winner',
       'location', 'home_points', 'home_field_goals',
       'home_field_goal_attempts', 'home_three_point_field_goals',
       'home_three_point_field_goal_attempts', 'home_free_throws',
       'home_free_throw_attempts', 'home_offensive_rebounds',
       'home_defensive_rebounds', 'home_assists', 'home_turnovers',
       'home_steals', 'home_blocks', 'home_personal_fouls', 'away_points',
       'away_field_goals', 'away_field_goal_attempts',
       'away_three_point_field_goals', 'away_three_point_field_goal_attempts',
       'away_free_throws', 'away_free_throw_attempts',
       'away_offensive_rebounds', 'away_defensive_rebounds', 'away_assists',
       'away_turnovers', 'away_steals', 'away_blocks', 'away_personal_fouls'],
      dtype='object')

In [271]:
df = regularseason21

In [272]:
df['Season'] = 2022

In [273]:
df['date'][1]

'November 9, 2021'

In [274]:
DayNum = []

for i in range(len(df)):
    DayNum.append((datetime.strptime(df['date'][i], '%B %d, %Y') - datetime(2021,11,1)).days)
    
df['DayNum'] = pd.Series(DayNum)

In [275]:
df['NumOT'] = 0

In [277]:
df = df.rename(columns = bbref_change)
df = df.drop(['Unnamed: 0', 'index', 'location', 'date'], axis = 1)
df.columns

Index(['WTeamID', 'LTeamID', 'WLoc', 'WScore', 'WFGM', 'WFGA', 'WFGM3',
       'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk',
       'WPF', 'LScore', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA',
       'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF', 'Season', 'DayNum',
       'NumOT'],
      dtype='object')

In [278]:
df = df[['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore',  'WLoc', 'NumOT',
    'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 
    'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3', 'LFTM', 'LFTA','LOR', 'LDR', 'LAst', 
    'LTO', 'LStl', 'LBlk', 'LPF']]

In [279]:
df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2022,8,Gonzaga,97,Dixie State,63,Home,0,37,68,...,22,9,21,13,19,12,20,5,1,22
1,2022,8,UCLA,95,Cal State Bakersfield,58,Home,0,31,62,...,17,3,8,5,26,11,13,8,2,21
2,2022,8,Kansas,87,Michigan State,74,Away,0,31,64,...,20,9,16,8,27,12,16,5,3,18
3,2022,8,Villanova,91,Mount St. Mary's,51,Home,0,31,56,...,12,6,8,7,18,16,18,2,2,15
4,2022,8,Texas,92,Houston Baptist,48,Home,0,32,50,...,17,10,22,13,14,6,14,8,0,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,2022,37,TCU,76,Utah,62,Home,0,30,67,...,20,21,25,6,27,14,8,4,7,14
1665,2022,37,Southern Utah,60,Utah Valley,56,Home,0,23,54,...,21,9,12,7,29,5,9,6,7,13
1666,2022,37,Penn State,74,Wagner,54,Home,0,24,50,...,14,4,6,7,17,14,14,10,1,20
1667,2022,37,Washington State,94,Weber State,60,Home,0,38,66,...,23,15,19,3,19,6,12,5,4,13
1668,2022,37,Wofford,78,Gardner-Webb,70,Away,0,26,53,...,19,12,17,7,16,11,12,9,7,24

In [280]:
names_ids = pd.read_csv('MDataFiles_Stage1/MTeams.csv')
ids = list(names_ids.TeamID)
names = list(names_ids.TeamName)
ids_dict = dict(zip(ids, names))