In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
regularseason = pd.read_csv('MDataFiles_Stage1/MRegularSeasonDetailedResults.csv')
postseason = pd.read_csv('MDataFiles_Stage1/MNCAATourneyDetailedResults.csv')
rankings = pd.read_csv('MDataFiles_Stage1/MMasseyOrdinals.csv')

In [3]:
def add_rate_cols(df):
    
    df['W_possessions'] = .5 * (df['WFGA'] + (.475 * df['WFTA']) - df['WOR'] + df['WTO'])
    df['WeFG'] = (df['WFGM'] + (.5 * df['WFGM3'])) / df['WFGA']
    df['WTSpct'] = df['WScore'] / (2 * (df['WFGA'] + .475 * df['WFTA']))
    df['WFTR'] = df['WFTA'] / df['WFGA']
    df['W3PR'] = df['WFGA3'] / (df['WFGA'] + (.475*df['WFTA']))
    df['WORpct'] = df['WOR'] / (df['WOR'] + df['LDR'])
    df['WDRpct'] = df['WDR'] / (df['WDR'] + df['LOR'])
    df['WREBpct'] = (df['WOR'] + df['WDR']) / (df['WOR'] + df['LDR'] + df['LOR'] + df['WDR'])
    df['WTR'] = (df['WOR'] + df['WDR'])
    df['WATOr'] = df['WAst'] / df['WTO']
    df['WAst_pct'] = df['WAst'] / df['WFGM']
    df['WStl_pct'] = df['WStl'] / (df['LFGA'] + .475*df['LFTA'] + df['LTO'])
    df['WBlk_pct'] = df['WBlk'] / (df['LFGA'])
    df['WTO_ratio'] = df['WTO'] / (df['WFGA'] + .475*df['WFTA'] + df['WTO'])
    df['L_possessions'] = .5 * (df['LFGA'] + (.475 * df['LFTA']) - df['LOR'] + df['LTO'])
    df['LeFG'] = (df['LFGM'] + (.5 * df['LFGM3'])) / df['LFGA']
    df['LTSpct'] = df['LScore'] / (2 * (df['LFGA'] + .475 * df['LFTA']))
    df['LFTR'] = df['LFTA'] / df['LFGA']
    df['L3PR'] = df['LFGA3'] / (df['LFGA'] + (.475*df['LFTA']))
    df['LORpct'] = df['LOR'] / (df['LOR'] + df['WDR'])
    df['LDRpct'] = df['LDR'] / (df['LDR'] + df['WOR'])
    df['LREBpct'] = (df['LOR'] + df['LDR']) / (df['WOR'] + df['LDR'] + df['LOR'] + df['WDR'])
    df['LTR'] = (df['LOR'] + df['LDR'])
    df['LATOr'] = df['LAst'] / df['LTO']
    df['LAst_pct'] = df['LAst'] / df['LFGM']
    df['LStl_pct'] = df['LStl'] / (df['WFGA'] + .475*df['WFTA'] + df['WTO'])
    df['LBlk_pct'] = df['LBlk'] / (df['WFGA'])
    df['LTO_ratio'] = df['LTO'] / (df['LFGA'] + .475*df['LFTA'] + df['LTO'])
    
    """df = df[['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF',
       'W_possessions', 'WeFG', 'WTSpct', 'WFTR', 'W3PR', 'WORpct', 'WDRpct',
       'WREBpct', 'WTR', 'WATOr', 'WAst_pct', 'WStl_pct', 'WBlk_pct',
       'WTO_ratio', 'L_possessions', 'LeFG', 'LTSpct', 'LFTR', 'L3PR',
       'LORpct', 'LDRpct', 'LREBpct', 'LTR', 'LATOr', 'LAst_pct', 'LStl_pct',
       'LBlk_pct', 'LTO_ratio']]
    """
    
    return df

In [4]:
#insert KenPom Values

KenPom = rankings[(rankings['SystemName'] == 'POM') & (rankings['RankingDayNum'] >= 128)]
KPRegularSeason = regularseason.merge(KenPom, how = 'inner', left_on = ['WTeamID', 'Season'], right_on = ['TeamID', 'Season'])
KPRegularSeason = regularseason.merge(KenPom, how = 'inner', left_on = ['LTeamID', 'Season'], right_on = ['TeamID', 'Season'])

KPRegularSeason

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LDR,LAst,LTO,LStl,LBlk,LPF,RankingDayNum,SystemName,TeamID,OrdinalRank
0,2003,10,1104,68,1328,62,N,0,27,58,...,22,8,18,9,2,20,133,POM,1328,9
1,2003,54,1280,54,1328,45,N,0,18,50,...,24,9,17,8,4,18,133,POM,1328,9
2,2003,70,1329,48,1328,46,H,0,19,49,...,23,10,6,4,3,18,133,POM,1328,9
3,2003,98,1400,67,1328,61,H,0,25,64,...,25,5,14,5,3,20,133,POM,1328,9
4,2003,114,1281,67,1328,52,H,0,24,55,...,22,8,11,1,3,17,133,POM,1328,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145005,2020,107,1208,65,1120,55,H,0,21,57,...,29,6,15,9,1,18,128,POM,1120,34
145006,2020,117,1246,73,1120,66,H,0,22,52,...,26,12,10,3,3,23,128,POM,1120,34
145007,2020,121,1401,78,1120,75,A,0,28,59,...,23,18,16,6,8,24,128,POM,1120,34
145008,2020,110,1424,66,1361,63,A,0,23,55,...,30,9,12,6,2,19,128,POM,1361,6
145009,2020,124,1429,59,1361,56,N,0,21,48,...,20,10,7,8,2,14,128,POM,1361,6

In [5]:
def team_regular_season(team_id,Season = all, DayNum = all, average = False):
    
    teamwins = regularseason[(regularseason['WTeamID'] == team_id) & (regularseason['Season'] == Season) & (regularseason['DayNum'] < DayNum)] 
    teamlosses = regularseason[(regularseason['LTeamID'] == team_id) & (regularseason['Season'] == Season) & (regularseason['DayNum'] < DayNum)]
    
    teamwinsoffense = teamwins.filter(like = 'W')    
    teamlossesoffense = teamlosses.filter(like = 'L')

    teamwinsoffense.columns = teamwinsoffense.columns.str.lstrip('W')
    teamlossesoffense.columns = teamlossesoffense.columns.str.lstrip('L')

    teamoffense = pd.concat([teamwinsoffense, teamlossesoffense])

    teamwinsopponents = teamwins.filter(like = 'L')
    teamlossesopponents = teamlosses.filter(like = 'W')

    teamwinsopponents.columns = teamwinsopponents.columns.str.lstrip('L')
    teamlossesopponents.columns = teamlossesopponents.columns.str.lstrip('W')

    teamopponents = pd.concat([teamwinsopponents, teamlossesopponents])
    
    teamtotal = pd.concat([teamoffense, teamopponents.add_prefix('Opp_')], axis = 1)
    
    ###cols_to_drop = ['Opp_TeamID', ]
    
    if average == True:
        teamtotal = teamtotal.groupby('TeamID').mean().reset_index()
        
    return teamtotal

In [6]:
marquette = team_regular_season(1266, 2020, 132, True)
marquette

,TeamID,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,...,Opp_FGA3,Opp_FTM,Opp_FTA,Opp_OR,Opp_DR,Opp_Ast,Opp_TO,Opp_Stl,Opp_Blk,Opp_PF
0,1266,77.766667,25.3,58.866667,10.033333,26.233333,17.133333,23.066667,10.7,29.266667,...,21.366667,14.2,21.366667,10.2,24.833333,13.166667,10.966667,6.766667,3.066667,19.466667

In [7]:
marquette.columns

Index(['TeamID', 'Score', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR',
       'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF', 'Opp_TeamID', 'Opp_Score',
       'Opp_FGM', 'Opp_FGA', 'Opp_FGM3', 'Opp_FGA3', 'Opp_FTM', 'Opp_FTA',
       'Opp_OR', 'Opp_DR', 'Opp_Ast', 'Opp_TO', 'Opp_Stl', 'Opp_Blk',
       'Opp_PF'],
      dtype='object')

In [8]:
def regular_season_game(team1_id, team2_id, Year = 2020, DayNum = 132):
    team1 = team_regular_season(team1_id,Year,DayNum)
    team2 = team_regular_season(team2_id,Year,DayNum)
    game = pd.concat([team1, team2], axis = 1)
    
    return game

In [9]:
duke_unc = regular_season_game(1181, 1314)
duke_unc.columns

Index(['TeamID', 'Score', 'Loc', 'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA',
       'OR', 'DR', 'Ast', 'TO', 'Stl', 'Blk', 'PF', 'WLoc', 'Opp_TeamID',
       'Opp_Score', 'Opp_WLoc', 'Opp_FGM', 'Opp_FGA', 'Opp_FGM3', 'Opp_FGA3',
       'Opp_FTM', 'Opp_FTA', 'Opp_OR', 'Opp_DR', 'Opp_Ast', 'Opp_TO',
       'Opp_Stl', 'Opp_Blk', 'Opp_PF', 'Opp_Loc', 'TeamID', 'Score', 'Loc',
       'FGM', 'FGA', 'FGM3', 'FGA3', 'FTM', 'FTA', 'OR', 'DR', 'Ast', 'TO',
       'Stl', 'Blk', 'PF', 'WLoc', 'Opp_TeamID', 'Opp_Score', 'Opp_WLoc',
       'Opp_FGM', 'Opp_FGA', 'Opp_FGM3', 'Opp_FGA3', 'Opp_FTM', 'Opp_FTA',
       'Opp_OR', 'Opp_DR', 'Opp_Ast', 'Opp_TO', 'Opp_Stl', 'Opp_Blk', 'Opp_PF',
       'Opp_Loc'],
      dtype='object')

In [10]:
regularseason[(regularseason.Season == 2020) & (regularseason.DayNum >= 12)]

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
87965,2020,12,1111,69,1399,47,N,0,24,44,...,24,1,2,8,15,11,21,6,1,15
87966,2020,12,1116,64,1285,46,H,0,20,54,...,16,8,14,15,24,10,23,5,5,22
87967,2020,12,1125,100,1130,85,A,0,33,62,...,18,11,13,3,19,18,12,7,1,15
87968,2020,12,1127,76,1357,72,H,0,29,77,...,30,9,17,16,37,10,14,2,2,14
87969,2020,12,1131,84,1306,70,H,0,31,57,...,22,12,16,6,24,17,16,2,1,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92827,2020,128,1389,56,1233,54,N,0,15,60,...,16,18,20,4,27,6,17,8,4,20
92828,2020,128,1393,81,1314,53,N,0,28,61,...,16,11,13,13,29,9,18,0,1,18
92829,2020,128,1402,85,1111,68,H,0,34,57,...,15,25,35,8,17,6,18,7,2,18
92830,2020,128,1412,74,1427,69,N,0,26,53,...,27,7,7,12,22,11,13,4,2,18
92831,2020,128,1450,82,1160,68,N,0,27,55,...,21,22,32,10,24,4,11,4,4,19

In [11]:
def season_dataframe(df, Season):

    schedule = df[(df['Season'] == Season) & (df['DayNum'] >= 12)]
    schedule.reset_index(inplace = True)
    
    KenPom = rankings[(rankings['SystemName'] == 'POM') & (rankings['Season'] == Season) & (rankings['RankingDayNum'] >= 128)]
    KenPom = KenPom[['TeamID', 'OrdinalRank']]

    schedule = schedule.merge(KenPom, how = 'inner', left_on = 'WTeamID', right_on = 'TeamID', validate = 'many_to_many')
    schedule = schedule.merge(KenPom, how = 'inner', left_on = 'LTeamID', right_on = 'TeamID', validate = 'many_to_many')
    schedule['Fav_Win'] = schedule['OrdinalRank_x'] < schedule['OrdinalRank_y']
    schedule.set_index('index', inplace = True)

    return schedule

In [19]:
print(KenPom.shape)
print(regularseason.shape)

(9641, 5)
(92832, 34)

In [12]:
schedule2020 = season_dataframe(regularseason, 2020)
schedule2020

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LAst,LTO,LStl,LBlk,LPF,TeamID_x,OrdinalRank_x,TeamID_y,OrdinalRank_y,Fav_Win
index,,,,,,,,,,,,,,,,,,,,,
87965,2020,12,1111,69,1399,47,N,0,24,44,...,11,21,6,1,15,1111,174,1399,331,True
90928,2020,87,1125,92,1399,84,A,0,30,63,...,21,14,3,5,20,1125,108,1399,331,True
92237,2020,115,1125,65,1399,62,H,0,25,55,...,13,11,8,3,13,1125,108,1399,331,True
88050,2020,13,1286,52,1399,39,N,0,19,47,...,2,16,7,3,9,1286,222,1399,331,True
89757,2020,61,1287,83,1399,72,H,0,27,61,...,12,9,6,8,18,1287,316,1399,331,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91270,2020,94,1285,92,1186,82,H,0,31,60,...,12,15,4,2,26,1285,136,1186,125,False
91599,2020,101,1225,74,1186,71,A,0,29,58,...,17,17,9,2,20,1225,324,1186,125,False
89552,2020,56,1226,75,1186,69,H,0,27,46,...,11,9,7,2,19,1226,296,1186,125,False
88574,2020,25,1276,82,1211,64,N,0,34,63,...,12,13,6,1,8,1276,16,1211,2,False
91995,2020,110,1140,91,1211,78,H,0,33,62,...,15,14,6,3,15,1140,12,1211,2,False

In [20]:
schedule2020.shape

(4866, 39)

In [13]:
schedule = list(zip(schedule2020.WTeamID,schedule2020.LTeamID,schedule2020.DayNum,schedule2020.Season))

In [14]:
len(schedule2020.WTeamID.unique())

343

In [15]:
len(schedule2020.LTeamID.unique())

344

In [16]:
### warning 4.5 minutes to run

games2020 = pd.DataFrame()
for i in range(len(schedule)):
    games2020 = games2020.append([regular_season_game(schedule[i][0], schedule[i][1], Year = schedule[i][3], DayNum = schedule[i][2]),schedule[i][4])

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (<ipython-input-16-76a2d6e10509>, line 5)

In [ ]:
dups = games2020[games2020.duplicated() == True]
dups